*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
.titulo-pagamento{
    text-align: center;
}

.area-checkout{
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    
    border-radius: 16px;
    padding: 26px;
    
}
.area-identificacao{
    display: flex;
    flex-direction: column;
}


.area-pix img{
  width: 100%;
  max-width: 100px; 
  background-color: white;
   
        
}
.dados-user{
    display: flex;
    flex-direction: column;
    border: solid  2px rgb(176, 250, 65);
    padding: 20px;
    border-radius: 16px;
    
}
.comporta-icone-Svg{
    display: flex;
    gap: 10px 

}

.icone{
    width: 95%;
    max-width: 26px;
    color: rgb(176, 250, 65) ;
}
.dados-usuario{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.botoesCheckout-CTA{
    display: flex;
    gap: 16px;
    justify-content: flex-start;

}
.botaoCheckout-cartao{
    background-color: rgb(176, 250, 65);
    width: 100%;
    max-width: 180px;
    border: none;
    padding: 10px;
    border-radius: 999px;
    cursor: pointer;
}
.botaoCheckout-pix{
    background-color: rgb(176, 250, 65);
    border: none;
    width: 100%;
    max-width: 180px;
    padding: 12px;
    border-radius: 999px;
    cursor: pointer;
}
.area-pagamento{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: solid  2px rgb(176, 250, 65);
    padding: 26px;
    border-radius: 16px;
}
.formulario-pagamento{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 2px rgb(176, 250, 65);
    padding: 26px;
    border-radius: 16px;
}
.linha-cartao{
    display: flex;
    gap: 12px;   
}
.campo-cartao{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.area-pix {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: solid rgb(176, 250, 65);
    padding: 26px;
    border-radius: 16px;
}
.hidden{
   display: none;
}
.input-padrao{
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(176, 250, 65);
    border-radius: 8px;
    
}
.input-padrao:focus{
    outline: none;
}
.checkout-esquerda{
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex: 2;

}
.valor-dinamico{
    width: 100%;
    max-width: 400px;
    border: solid 2px rgb(176, 250, 65);
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    
}

.checkout-card ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
.valor-dinamico h3{
    font-style: italic;
    color: rgb(176, 250, 65);

}